/*======
*
* General
*
======*/
	html {
		direction: rtl;
		text-align: right;
	}

	body {
		text-align: right;
	}



/*======
*
* Header
*
======*/
	.gt-header.gt-style-1 .gt-navbar .gt-menu .gt-caret,
	.gt-header.gt-style-3 .gt-navbar .gt-menu .gt-caret,
	.gt-header.gt-style-5 .gt-navbar .gt-menu .gt-caret {
		margin-left: 0;
		margin-right: 5px;
	}

	.gt-header.gt-style-1 .gt-elements .gt-user-box,
	.gt-header.gt-style-3 .gt-elements .gt-user-box,
	.gt-header.gt-style-5 .gt-elements .gt-user-box {
		list-style: none;
		padding: 0px 9px;
		margin: 0 40px 0 0;
		font-size: 10px;
		text-transform: uppercase;
		border-radius: 25px;
		display: flex;
	}

	.gt-header.gt-style-1 .gt-elements .gt-social-links,
	.gt-header.gt-style-3 .gt-elements .gt-social-links,
	.gt-header.gt-style-5 .gt-elements .gt-social-links {
		margin: 0 20px 0 0;
	}

	.gt-header.gt-style-1 .gt-navbar .gt-menu .gt-dropdown-menu,
	.gt-header.gt-style-3 .gt-navbar .gt-menu .gt-dropdown-menu,
	.gt-header.gt-style-5 .gt-navbar .gt-menu .gt-dropdown-menu {
		text-align: right;
	}

	.gt-header.gt-style-1 .gt-navbar .gt-menu li .gt-dropdown-menu,
	.gt-header.gt-style-3 .gt-navbar .gt-menu li .gt-dropdown-menu,
	.gt-header.gt-style-5 .gt-navbar .gt-menu li .gt-dropdown-menu {
		left: inherit;
		right: 0;
	}

	.gt-header.gt-style-1 .gt-navbar .gt-menu li .gt-dropdown-menu .gt-dropdown-menu,
	.gt-header.gt-style-3 .gt-navbar .gt-menu li .gt-dropdown-menu .gt-dropdown-menu,
	.gt-header.gt-style-5 .gt-navbar .gt-menu li .gt-dropdown-menu .gt-dropdown-menu {
		right: 100%;
		left: inherit;
	}

	.gt-header.gt-style-1 .gt-navbar .gt-menu > li:last-child .gt-dropdown-menu,
	.gt-header.gt-style-1 .gt-navbar .gt-menu > li:nth-last-child(2) .gt-dropdown-menu,
	.gt-header.gt-style-3 .gt-navbar .gt-menu > li:last-child .gt-dropdown-menu,
	.gt-header.gt-style-3 .gt-navbar .gt-menu > li:nth-last-child(2) .gt-dropdown-menu,
	.gt-header.gt-style-5 .gt-navbar .gt-menu > li:last-child .gt-dropdown-menu,
	.gt-header.gt-style-5 .gt-navbar .gt-menu > li:nth-last-child(2) .gt-dropdown-menu {
		left: 0;
		right: inherit;
	}

	.gt-header.gt-style-1 .gt-navbar .gt-menu li:last-child .gt-dropdown-menu .gt-dropdown-menu,
	.gt-header.gt-style-1 .gt-navbar .gt-menu li:nth-last-child(2) .gt-dropdown-menu .gt-dropdown-menu,
	.gt-header.gt-style-3 .gt-navbar .gt-menu li:last-child .gt-dropdown-menu .gt-dropdown-menu,
	.gt-header.gt-style-3 .gt-navbar .gt-menu li:nth-last-child(2) .gt-dropdown-menu .gt-dropdown-menu,
	.gt-header.gt-style-5 .gt-navbar .gt-menu li:last-child .gt-dropdown-menu .gt-dropdown-menu,
	.gt-header.gt-style-5 .gt-navbar .gt-menu li:nth-last-child(2) .gt-dropdown-menu .gt-dropdown-menu {
		left: 100%;
		right: inherit;
	}

	.gt-sticky-header .gt-elements .gt-user-box {
		margin: 0 40px 0 0;
	}

	.gt-sticky-header .gt-elements .gt-social-links {
		margin: 0 20px 0 0;
	}

	.gt-sticky-header .gt-navbar .gt-menu .gt-caret {
		margin-left: 0;
		margin-right: 5px;
	}



/*======
*
* Events Slider
*
======*/
	.gt-events-slider .gt-slider-pagination.gt-style-1 > span {
		margin: 0 0 0 10px;
	}

	.gt-events-slider .gt-slider-pagination.gt-style-1 > span {
		margin: 0 0 0 10px;
	}

	.gt-events-slider .gt-slider-pagination.gt-style-1 > span:last-child {
		margin-left: 0;
		margin-right: 0;
	}

	.gt-events-slider .gt-slide-inner .gt-content .gt-information > li svg {
		margin-right: 0;
		margin-left: 10px;
	}

	.gt-events-slider .gt-slide-inner .gt-content .buttons a:last-child,
	.gt-events-slider .gt-slide-inner .gt-content .buttons a:visited:last-child {
		margin-right: 45px;
		margin-left: 0;
	}

	.gt-events-slider .gt-slide-inner .gt-content .buttons a:first-child {
		margin-right: 0;
	}



/*======
*
* Eventchamp Slider
*
======*/
	.gt-eventchamp-slider .gt-slider-content .gt-title .gt-secondary {
		margin-left: 0;
		margin-right: 15px;
	}

	.gt-eventchamp-slider .gt-slider-pagination.gt-style-1 > span {
		margin: 0 0 0 10px;
	}

	.gt-eventchamp-slider .gt-slider-pagination.gt-style-1 > span:last-child {
		margin-left: 0;
	}



/*======
*
* Countdown Slider
*
======*/
	.gt-countdown-slider.gt-style-2 > .gt-slider-content > .gt-counter .gt-counter-inner > div:last-child,
	.gt-countdown-slider.gt-style-1 > .gt-counter .gt-counter-inner > div:last-child {
		border-right: 1px solid rgba(255, 255, 255, 0.20);
		padding-right: 45px;
		margin-right: 45px;
	}

	.gt-countdown-slider.gt-style-2 > .gt-slider-content > .gt-counter .gt-counter-inner > div:first-child,
	.gt-countdown-slider.gt-style-1 > .gt-counter .gt-counter-inner > div:first-child {
		border-right: 0px;
		padding-right: 0px;
		margin-right: 0;
	}

	.gt-countdown-slider.gt-style-2 > .gt-slider-content .gt-buttons i,
	.gt-countdown-slider.gt-style-2 > .gt-slider-content .gt-buttons svg,
	.gt-countdown-slider.gt-style-1 > .gt-slider-content .gt-buttons i,
	.gt-countdown-slider.gt-style-1 > .gt-slider-content .gt-buttons svg {
		margin-right: 0;
		margin-left: 12px;
	}



/*======
*
* Select
*
======*/
	.bootstrap-select .dropdown-menu li {
		text-align: right;
	}

	.bootstrap-select > .dropdown-toggle {
		text-align: left;
	}

	.bootstrap-select .dropdown-toggle::after {
		margin-left: 0;
		margin-right: 5px;
	}

	.bootstrap-select.gt-select .dropdown-item.gt-sub-option {
		padding-left: 0;
		padding-right: 27px;
	}

	.bootstrap-select .dropdown-toggle .filter-option {
		text-align: right;
	}

	.bootstrap-select .dropdown-toggle .filter-option-inner {
		padding-right: 0;
		padding-left: inherit;
	}



/*======
*
* Event Styles
*
======*/
	.gt-event-style-1 .gt-venue svg,
	.gt-event-style-1 .gt-stock svg,
	.gt-event-style-1 .gt-location svg,
	.gt-event-style-1 .gt-date svg,
	.gt-event-style-1 .gt-time svg {
		margin-right: 0;
		margin-left: 8px;
	}

	.gt-event-style-2 .gt-image {
		padding-left: 15px;
		padding-right: 0;
	}

	.gt-event-style-2 .gt-information > div svg {
		margin-left: 5px;
		margin-right: 0;
	}

	.gt-event-style-3 .gt-price svg,
	.gt-event-style-3 .gt-status svg,
	.gt-event-style-3 .gt-venue svg,
	.gt-event-style-3 .gt-stock svg,
	.gt-event-style-3 .gt-location svg,
	.gt-event-style-3 .gt-date svg,
	.gt-event-style-3 .gt-time svg {
		margin-left: 8px;
		margin-right: 0;
	}

	.gt-event-style-4 .gt-price svg,
	.gt-event-style-4 .gt-status svg,
	.gt-event-style-4 .gt-venue svg,
	.gt-event-style-4 .gt-stock svg,
	.gt-event-style-4 .gt-location svg,
	.gt-event-style-4 .gt-date svg,
	.gt-event-style-4 .gt-time svg {
		margin-right: 0;
		margin-left: 8px;
	}



/*======
*
* Venue Styles
*
======*/
	.gt-venue-style-1 .gt-image .gt-location ul li:first-child:before,
	.gt-venue-style-1 .gt-image .gt-location ul li:after {
		display: none;
	}

	.gt-venue-style-1 .gt-image .gt-location ul li:before {
		content: ',';
	}

	.gt-venue-style-2 .gt-image {
		padding-right: 0;
		padding-left: 15px;
	}



/*======
*
* Pagination
*
======*/
	.gt-blog-carousel .gt-pagination,
	.gt-venues-carousel .gt-pagination,
	.gt-categorized-contents .gt-pagination,
	.events-list .gt-pagination,
	.gt-events-carousel .gt-pagination {
		direction: ltr;
	}



/*======
*
* Post Listing
*
======*/
	.gt-post-style-1 .gt-bottom > ul > li svg {
		margin-right: 0;
		margin-left: 10px;
	}

	.gt-post-style-1 .gt-image .gt-category ul li:first-child:before,
	.gt-post-style-1 .gt-image .gt-category ul li:after {
		display: none;
	}

	.gt-post-style-1 .gt-image .gt-category ul li:before {
		content: ',';
	}

	.gt-post-style-2 .gt-bottom > ul > li svg {
		margin-right: 0;
		margin-left: 10px;
	}

	.gt-post-style-2 .gt-image .gt-category ul li:first-child:before,
	.gt-post-style-2 .gt-image .gt-category ul li:after {
		display: none;
	}

	.gt-post-style-2 .gt-image .gt-category ul li:before {
		content: ',';
	}

	.gt-post-style-3 .gt-information > div svg {
		margin-right: 0;
		margin-left: 7px;
	}

	.gt-post-style-3 .gt-image {
		padding-right: 0;
		padding-left: 15px;
	}



/*======
*
* Blog
*
======*/
	.gt-page-content .gt-post-meta ul li svg {
		margin-left: 8px;
		margin-right: 0;
	}

	.gt-page-content .gt-post-meta > ul > li ul li:before {
		content: ',';
	}

	.gt-page-content .gt-post-meta > ul > li ul li:after {
		display: none;
	}

	.gt-page-content .gt-post-meta > ul > li ul li:first-child:before {
		display: none;
	}

	.gt-post-author .gt-section-content .gt-avatar {
		padding-right: 0;
		padding-left: 25px;
	}



/*======
*
* Comment List
*
======*/
	.gt-comment-list .gt-comment-content {
		padding-left: 0;
		padding-right: 24px;
	}

	.gt-comment-list .gt-comment-details .gt-item svg {
		margin-right: 0;
		margin-left: 6px;
	}



/*======
*
* Testimonials
*
======*/
	.gt-testimonials-carousel .gt-slider-pagination .swiper-pagination-bullet {
		margin-left: 10px;
		margin-right: 0;
	}

	.gt-testimonials-carousel .gt-slider-pagination .swiper-pagination-bullet:first-child {
		margin-right: 0;
	}

	.gt-testimonials-carousel .gt-slider-pagination .swiper-pagination-bullet:last-child {
		margin-left: 0;
	}



/*======
*
* App Box
*
======*/
	.gt-app-box .gt-item svg {
		margin-right: 0;
		margin-left: 15px;
	}



/*======
*
* Datepicker
*
======*/
	.ui-datepicker .ui-datepicker-header {
		direction: ltr;
	}



/*======
*
* Flex Menu
*
======*/
	.gt-flex-menu {
		text-align: right;
	}



/*======
*
* Page Title Bar
*
======*/
	.gt-page-title-bar .gt-breadcrumb nav > ol > li:after {
		margin-right: 10px;
		margin-left: 0;
	}



/*======
*
* Event Schedule
*
======*/
	.gt-event-schedule.gt-style-6 > .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-list ul li .gt-image,
	.gt-event-schedule.gt-style-5 > .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-list ul li .gt-image,
	.gt-event-schedule.gt-style-4 > .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-list ul li .gt-image,
	.gt-event-schedule.gt-style-3 .gt-dropdown .gt-panel-body .gt-schedule-speakers .gt-list ul li .gt-image,
	.gt-event-schedule.gt-style-2 .gt-dropdown .gt-panel-body .gt-schedule-speakers .gt-list ul li .gt-image,
	.gt-event-schedule.gt-style-1 .gt-dropdown .gt-panel-body .gt-schedule-speakers .gt-list ul li .gt-image {
		padding: 0 0 0 10px;
	}

	.gt-event-schedule.gt-style-7 .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-list ul li .gt-image {
		margin-right: 0;
		margin-left: 7px;
	}

	.gt-event-schedule.gt-style-7 .gt-item > ul > li:nth-child(odd) .gt-details > .gt-image {
		padding-right: 15px;
		padding-left: 0;
	}

	.gt-event-schedule.gt-style-7 .gt-item > ul > li > .gt-details > .gt-image {
		padding-right: 0;
		padding-left: 15px;
	}

	.gt-event-schedule.gt-style-6 > .gt-item > ul > li > .gt-image,
	.gt-event-schedule.gt-style-5 > .gt-item > ul > li > .gt-image,
	.gt-event-schedule.gt-style-4 > .gt-item > ul > li > .gt-image {
		padding-right: 0;
		padding-left: 30px;
	}

	.gt-event-schedule.gt-style-7 .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-title,
	.gt-event-schedule.gt-style-6 > .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-title,
	.gt-event-schedule.gt-style-5 > .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-title,
	.gt-event-schedule.gt-style-4 > .gt-item > ul > li .gt-content .gt-schedule-speakers .gt-title,
	.gt-event-schedule.gt-style-3 .gt-dropdown .gt-panel-body .gt-schedule-speakers .gt-title,
	.gt-event-schedule.gt-style-2 .gt-dropdown .gt-panel-body .gt-schedule-speakers .gt-title,
	.gt-event-schedule.gt-style-1 .gt-dropdown .gt-panel-body .gt-schedule-speakers .gt-title {
		padding: 5px 0 5px 15px;
	}

	.gt-event-schedule.gt-style-6 > .gt-item > .gt-heading > svg,
	.gt-event-schedule.gt-style-5 > .gt-item > .gt-heading > svg,
	.gt-event-schedule.gt-style-4 > .gt-item > .gt-heading > svg {
		margin-right: 0;
		margin-left: 15px;
	}



/*======
*
* Event Ticket
*
======*/
	.gt-event-ticket.gt-style-7 .gt-ticket-features p:before,
	.gt-event-ticket.gt-style-6 .gt-ticket-features p:before,
	.gt-event-ticket.gt-style-5 .gt-ticket-inner .gt-ticket-features p:before,
	.gt-event-ticket.gt-style-4 .gt-ticket-inner .gt-ticket-features p:before,
	.gt-event-ticket.gt-style-1 .gt-ticket-inner > .gt-ticket-features p:before {
		margin-right: 0;
		margin-left: 10px;
	}



/*======
*
* Detail Box
*
======*/
	.gt-content-detail-box > ul > li.gt-event-counter > .gt-content .gt-event-starting-time > div:first-child {
		border-right: 0;
	}

	.gt-content-detail-box > ul > li.gt-event-counter > .gt-content .gt-event-starting-time > div:last-child {
		border-right-width: 1px;
	}

	.gt-content-detail-box > ul > li > .gt-icon {
		padding-right: 0;
		padding-left: 25px;
	}

	.gt-content-detail-box > ul > li > .gt-content > .gt-inner > ul > li:after {
		display: none;
	}

	.gt-content-detail-box > ul > li > .gt-content > .gt-inner > ul > li:before {
		content: ',';
		margin-right: 4px;
	}

	.gt-content-detail-box > ul > li > .gt-content > .gt-inner > ul > li:last-child:before {
		display: none;
	}



/*======
*
* Icon List
*
======*/
	.gt-icon-list.gt-style-1 ul li i,
	.gt-icon-list.gt-style-1 ul li svg,
	.gt-icon-list.gt-style-2 ul li i,
	.gt-icon-list.gt-style-2 ul li svg {
		margin-right: 0;
		margin-left: 10px;
	}



/*======
*
* Widgets
*
======*/
	.widget_nav_menu ul li .sub-menu li,
	.widget_recent_entries ul li .children li,
	.widget_archive ul li .children li,
	.widget_recent_comments ul li .children li,
	.widget_pages ul li .children li,
	.widget_categories ul li .children li {
		padding: 10px 15px 0 0;
	}

	.widget_nav_menu ul li a,
	.widget_nav_menu ul li a:visited,
	.widget_archive ul li a,
	.widget_archive ul li a:visited,
	.widget_pages ul li a,
	.widget_pages ul li a:visited,
	.widget_categories ul li a,
	.widget_categories ul li a:visited,
	.widget_meta ul li a,
	.widget_meta ul li a:visited,
	.widget_rss ul li a,
	.widget_rss ul li a:visited,
	.widget_recent_entries ul li a,
	.widget_recent_entries ul li a:visited,
	.widget_recent_comments ul li a,
	.widget_recent_comments ul li a:visited {
		margin-right: 0;
		margin-left: 3px;
	}

	.gt-widget-title > * {
		margin-right: 0;
		margin-left: 10px;
	}

	.gt-widget-title > *:last-child {
		margin-left: 0;
	}



/*======
*
* Widgets
*
======*/
	.alignnone {
		margin: 5px 20px 20px 0;
	}

	.alignright {
		float: left;
		margin: 5px 30px 30px 0;
	}

	.alignleft {
		float: right;
		margin: 5px 0 30px 30px;
	}

	a img.alignright {
		float: left;
		margin: 5px 30px 30px 0;
	}

	a img.alignnone {
		margin: 5px 0 30px 30px;
	}

	a img.alignleft {
		float: right;
		margin: 5px 0 30px 30px;
	}

	.wp-caption.alignnone {
		margin: 5px 0 20px 20px;
	}

	.wp-caption.alignleft {
		margin: 5px 0 20px 20px;
	}

	.wp-caption.alignright {
		margin: 5px 20px 20px 0;
	}



/*======
*
* Like & Favorite
*
======*/
	.gt-like-box a.gt-login-for-like span:before,
	.gt-like-box a.gt-content-like span:before {
		margin-right: 0;
		margin-left: 10px;
	}

	.gt-content-favorite-add-popup:before,
	.gt-content-favorite-remove-popup:before,
	.gt-content-like-add-popup:before,
	.gt-content-like-remove-popup:before {
		margin-right: 0;
		margin-left: 10px;
	}

	.gt-content-favorite-add-popup,
	.gt-content-favorite-remove-popup,
	.gt-content-like-add-popup,
	.gt-content-like-remove-popup {
		left: 30px;
		right: auto;
	}



/*======
*
* Cookie Bar
*
======*/
	.gt-cookie-bar.gt-style-1 .gt-cookie-button {
		margin-left: 0;
		margin-right: 15px;
	}



/*======
*
* Checkbox
*
======*/
	.gt-checkbox input[type="checkbox"]:not(:checked) + span:before,
	.gt-checkbox input[type="checkbox"]:checked + span:before,
	.gt-checkbox[type="checkbox"]:not(:checked) + .gt-checkbox-label:before,
	.gt-checkbox[type="checkbox"]:checked + .gt-checkbox-label:before {
		left: auto;
		right: 0;
	}

	.gt-checkbox input[type="checkbox"]:not(:checked) + span,
	.gt-checkbox input[type="checkbox"]:checked + span,
	.gt-checkbox[type="checkbox"]:not(:checked) + .gt-checkbox-label,
	.gt-checkbox[type="checkbox"]:checked + .gt-checkbox-label {
		padding-left: 0;
		padding-right: 26px;
	}

	.gt-checkbox input[type="checkbox"]:not(:checked) + span:after,
	.gt-checkbox input[type="checkbox"]:checked + span:after,
	.gt-checkbox[type="checkbox"]:not(:checked) + .gt-checkbox-label:after,
	.gt-checkbox[type="checkbox"]:checked + .gt-checkbox-label:after {
		left: auto;
		right: 0;
	}



/*======
*
* Events Map
*
======*/
	.gt-map.gt-events-map .gt-map-popup .gt-bottom-links > li > svg {
		margin-left: 7px;
		margin-right: 0;
	}

	.gt-map.gt-events-map .gt-map-popup .gt-bottom-links > li > ul > li {
		margin-right: 0;
		margin-left: 4px;
	}

	.gt-map.gt-events-map .gt-map-popup .gt-bottom-links > li > ul > li:after {
		display: none;
	}

	.gt-map.gt-events-map .gt-map-popup .gt-bottom-links > li > ul > li:before {
		content: ',';
		display: inline-block;
	}

	.gt-map.gt-events-map .gt-map-popup .gt-bottom-links > li > ul > li:first-child:before {
		display: none;
	}



/*======
*
* User Activity
*
======*/
	.gt-user-activity > ul > li svg {
		padding-left: 25px;
		padding-right: 0;
	}



/*======
*
* Contact Box
*
======*/
	.gt-contact-box svg {
		margin-right: 0;
		margin-left: 12px;
	}



/*======
*
* Service Box
*
======*/
	.gt-eventchamp-service-box.gt-style-1.gt-align-left {
		align-items: flex-end;
	}

	.gt-eventchamp-service-box.gt-style-1.gt-align-right {
		align-items: flex-start;
	}

	.gt-eventchamp-service-box.gt-style-2.gt-align-left {
		align-items: flex-end;
	}

	.gt-eventchamp-service-box.gt-style-2.gt-align-right {
		align-items: flex-start;
	}



/*======
*
* Feature Box
*
======*/
	.gt-feature-box.gt-align-left .gt-content {
		align-items: flex-end;
		justify-content: flex-end;
		text-align: left;
	}

	.gt-feature-box.gt-align-left .gt-icon {
		text-align: left;
	}

	.gt-feature-box.gt-align-right .gt-content {
		align-items: flex-start;
		justify-content: flex-start;
		text-align: right;
	}

	.gt-feature-box.gt-align-right .gt-icon {
		text-align: right;
	}



/*======
*
* Add to Calendar
*
======*/
	.gt-add-to-calendar.gt-style-1 .gt-content svg {
		margin-right: 0;
		margin-left: 25px;
	}

	.gt-add-to-calendar.gt-style-1 .gt-more svg {
		transform: rotate(-180deg);
	}



/*======
*
* Categorized Contents
*
======*/
	.gt-categorized-contents .gt-nav.gt-left {
		text-align: right;
		justify-content: flex-end;
	}

	.gt-categorized-contents .gt-nav.gt-right {
		text-align: left;
		justify-content: flex-start;
	}



/*======
*
* Organizers
*
======*/
	.gt-organizers.gt-align-left ul {
		justify-content: flex-end;
	}

	.gt-organizers.gt-align-right ul {
		justify-content: flex-start;
	}



/*======
*
* Tags
*
======*/
	.gt-tags.gt-align-left ul {
		justify-content: flex-end;
	}

	.gt-tags.gt-align-right ul {
		justify-content: flex-start;
	}



/*======
*
* Categories
*
======*/
	.gt-categories.gt-align-left ul {
		justify-content: flex-end;
	}

	.gt-categories.gt-align-right ul {
		justify-content: flex-start;
	}



/*======
*
* Button
*
======*/
	.gt-button svg,
	.gt-button i {
		margin-right: 0;
		margin-left: 12px;
	}



/*======
*
* Heading
*
======*/
	.gt-heading.gt-align-left .gt-separate {
		justify-content: flex-end;
	}

	.gt-heading.gt-align-right .gt-separate {
		justify-content: flex-start;
	}